.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  position: relative;
  border-radius: 4px;
  background-color: #fff;

  .editor-inner {
    position: relative;
    padding: 1rem 0.75rem;
    border-radius: 4px;
  }
}

.editor-content {
  line-height: 21px;
  font-weight: 400;
  text-align: left;

  .editor-input {
    min-height: 150px;
    resize: none;
    font-size: 16px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    caret-color: #444;
  }

  .editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
  }

  .editor-text-bold {
    font-weight: bold;
  }

  .editor-text-italic {
    font-style: italic;
  }

  .editor-text-underline {
    text-decoration: underline;
  }

  .editor-text-strikethrough {
    text-decoration: line-through;
  }

  .editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
  }

  .editor-text-code {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
  }

  .editor-link {
    color: rgb(33, 111, 219);
    text-decoration: none;
  }

  .tree-view-output {
    display: block;
    background: #222;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    white-space: pre-wrap;
    margin: 1px auto 10px auto;
    max-height: 250px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
    line-height: 14px;
  }

  .editor-code {
    background-color: rgb(240, 242, 245);
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    tab-size: 2;
    /* white-space: pre; */
    overflow-x: auto;
    position: relative;

    &::before {
      content: attr(data-gutter);
      position: absolute;
      background-color: #eee;
      left: 0;
      top: 0;
      border-right: 1px solid #ccc;
      padding: 8px;
      color: #777;
      white-space: pre-wrap;
      text-align: right;
      min-width: 25px;
    }

    &::after {
      content: attr(data-highlight-language);
      top: 0;
      right: 3px;
      padding: 3px;
      font-size: 10px;
      text-transform: uppercase;
      position: absolute;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .editor-tokenComment {
    color: slategray;
  }

  .editor-tokenPunctuation {
    color: #999;
  }

  .editor-tokenProperty {
    color: #905;
  }

  .editor-tokenSelector {
    color: #690;
  }

  .editor-tokenOperator {
    color: #9a6e3a;
  }

  .editor-tokenAttr {
    color: #07a;
  }

  .editor-tokenVariable {
    color: #e90;
  }

  .editor-tokenFunction {
    color: #dd4a68;
  }

  .editor-paragraph {
    margin: 0;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .editor-heading-h1 {
    font-size: 24px;
    color: rgb(5, 5, 5);
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
  }

  .editor-heading-h2 {
    font-size: 15px;
    color: rgb(101, 103, 107);
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-transform: uppercase;
  }

  .editor-quote {
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    color: rgb(101, 103, 107);
    border-left-color: rgb(206, 208, 212);
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 16px;
  }

  .editor-list-ol,
  .editor-list-ul {
    padding: 0;
    margin: 0;
    margin-left: 8px;
  }

  .editor-listitem {
    margin: 0.25rem 1.5rem;
  }

  .editor-nested-listitem {
    list-style-type: none;
  }

  .editor-list-ol1 {
    padding: 0;
    margin: 0;
    list-style-position: outside;
  }
  .editor-list-ol2 {
    padding: 0;
    margin: 0;
    list-style-type: upper-alpha;
    list-style-position: outside;
  }
  .editor-list-ol3 {
    padding: 0;
    margin: 0;
    list-style-type: lower-alpha;
    list-style-position: outside;
  }
  .editor-list-ol4 {
    padding: 0;
    margin: 0;
    list-style-type: upper-roman;
    list-style-position: outside;
  }
  .editor-list-ol5 {
    padding: 0;
    margin: 0;
    list-style-type: lower-roman;
    list-style-position: outside;
  }

  a {
    margin: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #255a90;
    &:hover {
      -webkit-text-decoration: underline;
      text-decoration: underline;
    }
  }

  .editor-tableScrollableWrapper {
    overflow-x: auto;
    margin: 0 25px 30px 0;

    > .editor-table {
      /* Remove the table's vertical margin and put it on the wrapper */
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .editor-tableAlignmentCenter {
    margin-left: auto;
    margin-right: auto;
  }

  .editor-tableAlignmentRight {
    margin-left: auto;
  }

  .editor-table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    table-layout: fixed;
    margin-top: 25px;
    margin-bottom: 30px;
    max-width: 648px;
    width: auto;
    font-size: 12px;
  }

  .editor-tableRowStriping {
    tr:nth-child(even) {
      background-color: #f2f5fb;
    }
  }

  .editor-tableSelection {
    *::selection {
      background-color: transparent;
    }
  }

  .editor-tableSelected {
    outline: 2px solid rgb(60, 132, 244);
  }

  .editor-tableCell {
    border: 1px solid #bbb;
    width: 40px;
    vertical-align: top;
    text-align: start;
    padding: 6px 8px;
    position: relative;
    outline: none;
    overflow: auto;

    > * {
      overflow: inherit;
    }
  }

  .editor-tableCellResizer {
    position: absolute;
    right: -4px;
    height: 100%;
    width: 8px;
    cursor: ew-resize;
    z-index: 10;
    top: 0;
  }

  .editor-tableCellHeader {
    background-color: #f2f3f5;
    text-align: start;
  }

  .editor-tableCellSelected {
    caret-color: transparent;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: highlight;
      mix-blend-mode: multiply;
      content: "";
      pointer-events: none;
    }
  }

  .editor-tableAddColumns,
  .editor-tableAddRows {
    position: absolute;
    animation: table-controls 0.2s ease;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
      background-color: #c9dbf0;
    }
  }

  .editor-tableAddColumns {
    height: 100%;
    padding: 0;
    min-width: auto;
  }

  .editor-tableAddRows {
    width: calc(100% - 25px);
  }

  @keyframes table-controls {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .editor-tableCellResizeRuler {
    display: block;
    position: absolute;
    width: 1px;
    background-color: rgb(60, 132, 244);
    height: 100%;
    top: 0;
  }

  .editor-tableCellActionButtonContainer {
    display: block;
    right: 5px;
    top: 6px;
    position: absolute;
    z-index: 4;
    width: 20px;
    height: 20px;
  }

  .editor-tableCellActionButton {
    background-color: #eee;
    display: block;
    border: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: #222;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
  }
}

.TableCellResizer__resizer {
  position: absolute;
  z-index: 9999;
}

.table-cell-action-button-container {
  position: absolute;
  top: 1.125rem;
  left: -1rem;
  will-change: transform;

  &.--active {
    pointer-events: auto;
    opacity: 1;
  }

  &.--inactive {
    pointer-events: none;
    opacity: 0;
  }
}

pre {
  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
  }
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;

  .debug-timetravel-panel-slider {
    padding: 0;
    flex: 8;
  }

  .debug-timetravel-panel-button {
    padding: 0;
    border: 0;
    background: none;
    flex: 1;
    color: #fff;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;

  .toolbar-item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 2px;

    .MuiSvgIcon-root {
      font-size: 1.25rem;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &.spaced {
      margin-right: 2px;
    }

    i.format {
      background-size: contain;
      display: inline-block;
      height: 18px;
      width: 18px;
      margin-top: 2px;
      vertical-align: -0.25em;
      display: flex;
      opacity: 0.6;

      &:disabled {
        opacity: 0.2;
      }
    }

    &.active {
      background-color: rgba(223, 232, 250, 0.5);

      i {
        opacity: 1;
      }
    }

    &:hover:not([disabled]) {
      background-color: #eee;
    }

    .text {
      display: flex;
      line-height: 20px;
      width: 200px;
      vertical-align: middle;
      font-size: 14px;
      color: #777;
      text-overflow: ellipsis;
      width: 70px;
      overflow: hidden;
      height: 20px;
      text-align: left;
    }

    .icon {
      display: flex;
      width: 20px;
      height: 20px;
      user-select: none;
      margin-right: 8px;
      line-height: 16px;
      background-size: contain;
    }
  }

  .divider {
    width: 1px;
    background-color: #eee;
    margin: 0 4px;
  }
}

.typeahead-popover {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  position: fixed;
  z-index: 9999;

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      margin: 0;
      min-width: 180px;
      font-size: 14px;
      outline: none;
      cursor: pointer;
      border-radius: 4px;

      &.selected {
        background: #eee;
      }
    }
  }

  li {
    margin: 0 8px 0 8px;
    padding: 8px 16px;
    color: #050505;
    cursor: pointer;
    line-height: 16px;
    font-size: 15px;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 4px;
    border: 0;

    &.active {
      display: flex;
      width: 20px;
      height: 20px;
      background-size: contain;
    }

    &:first-child {
      border-radius: 4px 4px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 4px 4px;
    }

    &:hover {
      background-color: #eee;
    }

    .text {
      display: flex;
      line-height: 20px;
      flex-grow: 1;
      min-width: 150px;
    }

    .icon {
      display: flex;
      width: 20px;
      height: 20px;
      user-select: none;
      margin-right: 8px;
      line-height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
