{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "lines": 33, 
  "functions": 33,
  "branches": 33,
  "statements": 33,
  "include": ["src/**/*.ts", "src/**/*.tsx"],
  "exclude": [
    "**/*.d.ts",
    "**/*.test.ts",
    "**/*.cy.ts",
    "cypress/**/*",
    "coverage/**/*"
  ]
}
