alembic==1.18.4
aniso8601==10.0.1
attrs==25.4.0
beautifulsoup4==4.13.3
blinker==1.9.0
cachelib==0.13.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
deprecated==1.3.1
ecdsa==0.19.1
et_xmlfile==2.0.0
Flask==3.1.3
Flask-Caching==2.3.1
flask-cors==6.0.2
flask-jwt-oidc==0.7.0
flask-limiter==4.1.1
Flask-Mail==0.10.0
flask-marshmallow==1.2.1
Flask-Migrate==4.1.0
Flask-Moment==1.0.6
flask-restx==1.3.2
Flask-SQLAlchemy==3.1.1
greenlet==3.3.2
gunicorn==25.1.0
idna==3.11
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
limits==5.8.0
lxml==5.1.0
Mako==1.3.10
MarkupSafe==3.0.3
marshmallow==3.18.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==1.0.0
numpy==2.4.2
openpyxl==3.1.5
ordered-set==4.1.0
packaging==26.0
pandas==2.3.1
Pillow==11.2.1
psycopg2-binary==2.9.11
pyasn1==0.6.2
pycryptodome==3.20.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.2.2
python-jose==3.5.0
pytz==2026.1.post1
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
rsa==4.9.1
secure==1.0.1
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.48
SQLAlchemy-Continuum==1.6.0
SQLAlchemy-Utils==0.42.1
tenacity==9.0.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
Werkzeug==3.1.6
wrapt==2.2.2
